.services{
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 70px 20px 0;
    letter-spacing: 0.1ch;
    
}

.servicesTitlewrapper > h1 {

    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    color: #FAFAFA;
    margin: 16px 0;

}

.servicesTitlewrapper > p {
    font-size:45px;
    font-weight: 700;
    /* color: #00A551; */
    color: blue;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 45px;
}


.servicesFirst {
  padding:  60px ;
}

@media (min-width: 720px) {
  .servicesSecond {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    
  }
}



@media (min-width: 990px) {
   .servicesFirst {
    width: 100%;
    align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

}




 