.clientsContainer{
    align-items: center;
    text-align: center;
    padding: 5px 30px;
    letter-spacing: 0.1ch;
}


.clientsTitlewrapper > h1 {

    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    color:  #18191F;
    margin: 16px 0;

}

.clientsTitlewrapper > h2 {
    font-size:45px;
    font-weight: 700;
    color: #00A551;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 45px;
}

@media (min-width: 990px) {
    .clientsTitlewrapper > p  {
    padding: 0 200px;
}
}
