.contactUs {
padding-top: 0px;
}
.container >h2 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 80px;
}
.mb-3{
    font-size: 25px;
    font-weight: 600;
}
.btn {
    background-color:blue !important;
    border: blue !important;
}
.btn:hover {
    background-color: rgb(193, 32, 32) !important;
}

@media (min-width: 990px) {
    .container {
        padding: 0px 250px !important;
    }
    /* .container >h2 {
        margin-left: ;
    } */
}



